/* ESTILO DO CABEÇALHO */
nav#menu {
    display: block;
}

nav#menu ul  {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    padding: 15px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #c9ab6c;
}

/* ESTILO DO CONTEUDO PRINCIPAL */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../imagens/fundo-animado.gif');
}

div#interface {
    width: 900px;
    margin: -20px auto 5px;
    background-color: #eee;
    padding: 10px;
}

h1, h2 {
    border-bottom: 2px solid #c9ab6c;
    color: #373738;
}

main#conteudo-principal p {
    text-align: justify;
    text-indent: 50px;
}

figure#barbearia {
    background-color: #c9ab6c;
    text-align: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

figure#estrutura {
    background-color: #c9ab6c;
    text-align: center;
    border-radius: 5px;
    float: right;
    margin-top: 0px; 
}

figcaption {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #373738;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

div#horario-atendimento {
    padding: 5px;
    background-color: #373738;
    color: #c9ab6c;
    margin-top: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div#localizacao {
    background-color: #c9ab6c;
    color: #373738;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 5px;
}

#botao {
    text-align: center;
}

.botao {
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    margin-top: 15px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #c9ab6c;
    font-size: 18px;
}

/* ESTILO DO RODAPE */

footer p {
    text-align: center;
    padding: 10px;
}

.rede-social a {
   height: 32px;
   width: 32px;

   /* image replacement */
   display: block;
   text-indent: -9999px;
 }

 .rede-social a[href*="facebook.com"] {
   background-image: url('../imagens/facebook.png');
   background-repeat: no-repeat;
 }

